/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", "Irish Grover", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 428px){
    body{
        font-family: "Habibi";
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    header, footer{
        background-color: #06A816;
    }
    nav li{
        background-color: #E75D02;
        padding: 15px;
        border-radius: 4px;
        display: block;
        border: 1px solid #ffffff;
        text-align: center;
        max-width: 310px;
        position: relative;
        left: 100px;
        margin-bottom: 20px;
    }
    nav a{
        color: #ffffff;
        text-decoration: none;
        border: #ffffff;
        padding: 15px;
    }
    nav h2{
        visibility: hidden;
        max-height: 0px;
    }
    [href="#top"]{
        position: fixed;
        bottom: 0px;
        background-color: #E75D02;
        right: 15px;
        color: #ffffff;
        border: 1px solid #ffffff;
        text-decoration: none;
        bottom: 5px;
        padding: 10px 3px;
        border-radius: 4px;
        z-index: 1;
    }
    img{
        max-width: 100%;
    }
    figcaption{
        position: relative;
        bottom: 180px;
        left: 145px;
        text-align: center; 
        color: #ffffff;
        background-color: #000000;
        opacity: 0.75;
        width: 140px;
        height: 40px;
        padding-top: 10px;
    }
    h1,h2, h3{
        font-family: "Irish Grover";
    }
    header{
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 20px;
        text-align: center;
    }
    header p{
        font-style: italic;
    }
    h3{
        font-size: 1.25em;
        text-align: center;
        padding-top: 15px;
    }
    h1{
        font-size: 2.5em;
        padding-bottom: 20px;
        padding-left: 10px;
        text-shadow: 2px 2px #000000;
    }
    h2{
        font-size: 1.75em;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    #fruitsforsale{
        display: grid;
        grid-template-columns: 1fr;
        padding: 25px;
        text-align: center;
    }
    #veggiesforsale{
        display: grid;
        grid-template-columns: 1fr;
        padding: 25px;
        text-align: center;
    }
    P{
        padding-left: 10px;
    }
    #businessinfo{
        display: grid;
        color: #ffffff;
        grid-template-columns: 350px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        justify-content: space-around;
    }
    address{
        text-align: center;
        padding-bottom: 50px;
    }
    footer h2{
        padding-left: 10px;
    }
    dl{
        text-align: center;
    }
    dt{
        float: left;
        width: 25%;
        margin: 0;
        text-align: center;
    }
    dd{
        float: left;
        width: 75%;

    }
    footer p{
        text-align: center;
        color:#06A816;
        background-color: #ffffff;
        position: relative;
    
    }   
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px){  
body{
    font-family: "Habibi";
    width: 834px;
    display: grid;
    grid-template-columns: 1fr;
}
header, footer{
    background-color: #06A816;
}
nav li{
    background-color: #E75D02;
    padding: 15px 100px;
    border-radius: 4px;
    display: inline-block;
    justify-content: space-evenly;
    position: relative;
    left: 75px;
    border: 1px solid #ffffff;
    margin-right: 100px;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    border: #ffffff;
    justify-content: space-between;
}
nav h2{
    visibility: hidden;
}
[href="#top"]{
    position: fixed;
    bottom: 0px;
    background-color: #E75D02;
    right: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    bottom: 5px;
    padding: 10px 3px;
    border-radius: 4px;
    z-index: 1;
}
img{
    max-width: 100%;
}
figcaption{
    position: relative;
    bottom: 175px;
    left: 150px;
    text-align: center; 
    color: #ffffff;
    background-color: #000000;
    opacity: 0.75;
    width: 140px;
    height: 40px;
    padding-top: 10px;
}
h1,h2, h3{
    font-family: "Irish Grover";
}
header{
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}header p{
    font-style: italic;
    text-align: right;
    padding-top: 25px;
    padding-right: 20px;
}
h3{
    font-size: 1.25em;
    text-align: center;
    padding-top: 15px;
}
h1{
    font-size: 2.5em;
    padding-bottom: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px #000000;
    text-align: left;
}
h2{
    font-size: 1.75em;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#fruitsforsale{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15px;
}
#veggiesforsale{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 25px;
}
P{
    padding-left: 10px;
}
#businessinfo{
    display: grid;
    color: #ffffff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    text-align: center;
}
address{
    text-align: center;
}
footer h2{
    padding-left: 10px;
    order: -1;
}
dl{
    text-align: center;
}
dt{
    float: left;
    width: 25%;
    margin: 0;
}
dd{
    float: left;
    width: 75%;
    margin: 0;
}
footer p{
    text-align: center;
    color:#06A816;
    background-color: #ffffff;
    position: relative;
}
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px){
body{
    font-family: "Habibi";
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr;
}
header, footer{
    background-color: #06A816;
}
nav li{
    background-color: #E75D02;
    padding: 15px 75px;
    border-radius: 4px;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    bottom: 120px;
    left: 735px;
    border: 1px solid #ffffff;
    margin-right: 10px;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    border: #ffffff;
    justify-content: space-between;
}
nav h2{
    visibility: hidden;
    max-height: 0px;
}
[href="#top"]{
    position: fixed;
    bottom: 0px;
    background-color: #E75D02;
    right: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    bottom: 5px;
    padding: 10px 3px;
    border-radius: 4px;
    z-index: 1;
}
img{
    max-width: 100%;
}
figcaption{
    position: relative;
    bottom: 160px;
    left: 150px;
    text-align: center; 
    color: #ffffff;
    background-color: #000000;
    opacity: 0.75;
    width: 140px;
    height: 40px;
    padding-top: 10px;
}
h1,h2, h3{
    font-family: "Irish Grover";
}
header{
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: left;  
    display: grid;
    grid-template-columns: 1fr;
}
header p{
    font-style: italic;
    text-align: left;
}
h3{
    font-size: 1.25em;
    text-align: center;
    padding-top: 15px;
}
h1{
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-left: 10px;
    text-shadow: 2px 2px #000000;
}
h2{
    font-size: 1.75em;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#fruitsforsale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 25px;
}
#veggiesforsale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 25px;
}
P{
    padding-left: 10px;
}
#businessinfo{
    display: grid;
    color: #ffffff;
    grid-template-columns: 250px 250px 250px 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: space-around;
}
address{
    text-align: center;
}
footer h2{
    padding-left: 10px;
}
dl{
    text-align: center;
}
dt{
    float: left;
    width: 25%;
    margin: 0;
}
dd{
    float: left;
    width: 75%;
    margin: 0;
}
footer p{
    text-align: center;
    color:#06A816;
    background-color: #ffffff;
    position: relative;
}
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px) {
body{
    font-family: "Habibi";
    width: 1440px;
}
header, footer{
    background-color: #06A816;
}
nav li{
    background-color: #E75D02;
    padding: 15px 75px;
    border-radius: 4px;
    display: inline-block;
    justify-content: space-between;
    position: relative;
    bottom: 150px;
    left: 875px;
    border: 1px solid #ffffff;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    border: #ffffff;
    justify-content: space-between;
}
nav h2{
    visibility: hidden;
}
[href="#top"]{
    position: fixed;
    bottom: 0px;
    background-color: #E75D02;
    right: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    bottom: 5px;
    padding: 10px 3px;
    border-radius: 4px;
    z-index: 1;
}
img{
    max-width: 100%;
}
figcaption{
    position: relative;
    bottom: 160px;
    left: 80px;
    text-align: center; 
    color: #ffffff;
    background-color: #000000;
    opacity: 0.75;
    width: 140px;
    height: 40px;
    padding-top: 10px;
}
h1,h2, h3{
    font-family: "Irish Grover";
}
header{
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 20px;
}
header p{
    font-style: italic;
    text-align: left;
}
h3{
    font-size: 1.25em;
    text-align: center;
    padding-top: 15px;
}
h1{
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-left: 10px;
    text-shadow: 2px 2px #000000;
    text-align: left;
}
h2{
    font-size: 1.75em;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#fruitsforsale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px;
}
#veggiesforsale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px;
}
P{
    padding-left: 10px;
}
#businessinfo{
    display: grid;
    color: #ffffff;
    grid-template-columns: 250px 250px 250px 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: space-around;
}
address{
    text-align: center;
}
footer h2{
    padding-left: 10px;
}
dl{
    text-align: center;
}
dt{
    float: left;
    width: 25%;
    margin: 0;
}
dd{
    float: left;
    width: 75%;
    margin: 0;
}
footer p{
    text-align: center;
    color:#06A816;
    background-color: #ffffff;
    position: relative;
}
}